<footer>
  <div class="row">
    <!-- div class="small-12 large-4 column">
	  <img src="assets/logogob-88512f8428653e55c22d46f5207718b6d4a354d2095b2b15f800cfaaecd3f1a3.png"/>

	  <h1 class="logo">
        <%= link_to t("layouts.header.open_gov", open: "#{t('layouts.header.open')}").html_safe %>
      </h1>

      <p class="info">
        <%= t("layouts.footer.description",
          open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank", rel: "nofollow"),
          consul:  link_to(t("layouts.footer.consul"), t("layouts.footer.consul_url"), target: "blank", rel: "nofollow")).html_safe
        %>
        <%= t("layouts.footer.contact_us") %>
        <%= link_to t("layouts.footer.faq"), faq_path %>
      </p>
	  
    </div-->
	

    <div class="footer-sections small-12 large-12 column">
	   <div class="small-12 medium-3 column padding">
        <a href="http://narino.gov.co" title="Gobernación de Nariño" target="_new">
          <%= image_tag "logogob.png" %>
        </a>
        <!--p><%= t("layouts.footer.participation_text") %></p-->
      </div>
      <div class="small-12 medium-3 column padding">
		    <a href="http://gana.narino.gov.co" title="Gobierno Abierto de Nariño" target="_new">
          <%= image_tag "logogana.png" %>
        </a>
        <!-- p><%= t("layouts.footer.participation_text") %></p-->
      </div>

      <div class="small-12 medium-3 column padding">
        <a href="http://ganacontrol.narino.gov.co" title="Presupuesto y Contratación Abierta" target="_new">
          <%= image_tag "logocontrol.png" %>
        </a>
		    <!-- p><%= t("layouts.footer.transparency_text") %></p-->
      </div>

      <div class="small-12 medium-3 column padding">
        <a href="https://datos.narino.gov.co" title="Portal de Datos Abiertos de Nariño" target="_new">          
          <%= image_tag "logodatos.png" %>
        </a>
		    <!--p><%= t("layouts.footer.open_data_text") %></p-->
      </div>
    </div>
  </div>

  <div class="subfooter row">
    <div class="small-12 medium-8 column">
      <%= t("layouts.footer.copyright", year: Time.current.year) %>&nbsp;|
      <ul class="no-bullet inline-block">
        <li class="inline-block"><%= link_to t("layouts.footer.privacy"), page_path('privacy') %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.conditions"), page_path('conditions') %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.accessibility"), page_path('accessibility') %></li>
      </ul>
    </div>

    <div class="small-12 medium-4 column social">
      <div class="text-right">
        <ul>
          <% if setting['twitter_handle'] %>
            <li class="inline-block">
              <%= link_to "https://twitter.com/#{setting['twitter_handle']}", target: "_blank",
                           title: t("shared.go_to_page") + t("social.twitter", org: setting['org_name']) + t('shared.target_blank_html') do %>
                              <span class="show-for-sr"><%= t("social.twitter", org: setting['org_name']) %></span>
                              <span class="icon-twitter" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting['facebook_handle'] %>
            <li class="inline-block">
              <%= link_to "https://www.facebook.com/#{setting['facebook_handle']}/", target: "_blank",
                          title: t("shared.go_to_page") + t("social.facebook", org: setting['org_name']) + t('shared.target_blank_html') do %>
                          <span class="show-for-sr"><%= t("social.facebook", org: setting['org_name']) %></span>
                          <span class="icon-facebook" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <%  if setting['blog_url'] %>
            <li class="inline-block">
              <%= link_to setting['blog_url'], target: "_blank",
                          title: t("shared.go_to_page") + t("social.blog", org: setting['org_name']) + t('shared.target_blank_html') do %>
                          <span class="show-for-sr"><%= t("social.blog", org: setting['org_name']) %></span>
                          <span class="icon-blog" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting['youtube_handle'] %>
            <li class="inline-block">
              <%= link_to "https://www.youtube.com/#{setting['youtube_handle']}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.youtube", org: setting['org_name']) + t('shared.target_blank_html') do %>
                          <span class="show-for-sr"><%= t("social.youtube", org: setting['org_name']) %></span>
                          <span class="icon-youtube" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting['telegram_handle'] %>
            <li class="inline-block">
              <%= link_to "https://www.telegram.me/#{setting['telegram_handle']}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.telegram", org: setting['org_name']) + t('shared.target_blank_html') do %>
                          <span class="show-for-sr"><%= t("social.telegram", org: setting['org_name']) %></span>
                          <span class="icon-telegram" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
          <% if setting['instagram_handle'] %>
            <li class="inline-block">
              <%= link_to "https://www.instagram.com/#{setting['instagram_handle']}", target: "_blank",
                          title: t("shared.go_to_page") + t("social.instagram", org: setting['org_name']) + t('shared.target_blank_html') do %>
                          <span class="show-for-sr"><%= t("social.instagram", org: setting['org_name']) %></span>
                          <span class="icon-instagram" aria-hidden="true"></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <%= raw content_block("footer", I18n.locale) %>
  </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38413002-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38413002-10');
</script>