<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="es">
<head>
  <title>Gobierno abierto</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=10.0"/>
  <style>
.btn {
  background: #2f4588;
  background-image: -webkit-linear-gradient(top, #2f4588, #223262);
  background-image: -moz-linear-gradient(top, #2f4588, #223262);
  background-image: -ms-linear-gradient(top, #2f4588, #223262);
  background-image: -o-linear-gradient(top, #2f4588, #223262);
  background-image: linear-gradient(to bottom, #2f4588, #223262);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5873c5;
  background-image: -webkit-linear-gradient(top, #5873c5, #3c59ae);
  background-image: -moz-linear-gradient(top, #5873c5, #3c59ae);
  background-image: -ms-linear-gradient(top, #5873c5, #3c59ae);
  background-image: -o-linear-gradient(top, #5873c5, #3c59ae);
  background-image: linear-gradient(to bottom, #5873c5, #3c59ae);
  text-decoration: none;
}
  </style>
</head>
<body style="background: #fff; font-family:font-family: 'Open Sans','Helvetica Neue',arial,sans-serif !important; margin: 0 10px; padding: 0; text-align: left;">

  <table cellpadding="0" cellspacing="0" border="0" style="background: #fff; margin: 0 auto; max-width: 700px; width:100%;">
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
          <tr>
            <td style="border-bottom: 1px solid #dadfe1; padding: 20px 0;">
              <a href="#" target="_blank">
                <%= image_tag('logo_email.png',  style: "border: 0; display: block;", alt: setting['org_name']) %>
              </a>
            </td>
          </tr>
        </table>
      </td> 
    </tr>
    <tr>
      <%= yield %>
    </tr>
  </table>

  <!-- table cellpadding="0" cellspacing="0" border="0" style="margin: 0 auto; max-width: 700px; width:100%; margin-bottom: 40px; padding: 0 20px;">
    <tbody>
    <tr>
      <td style="text-align: center; border-top: 1px solid #dadfe1; padding-top: 20px;">
        <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; margin: 0;padding: 0;line-height: 1.5em;color: #797f7f; font-size: 12px;">
        <%= setting['org_name'] %></p>

        <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; margin: 0;padding: 0;line-height: 1.5em;color: #222; font-size: 10px; margin-top: 12px;">
        <%= t('mailers.no_reply') %></p>

      </td>
    </tr>
    </tbody>
  </table-->
</body>
</html>
