<td style="padding-bottom: 20px; padding-left: 10px;">

  <h2 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= t("devise_views.mailer.confirmation_instructions.title") %>
  </h2>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("devise_views.mailer.confirmation_instructions.welcome") %> <strong><%= @email %></strong>
  </p>


  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("devise_views.mailer.confirmation_instructions.text") %>
  </p>

  <p>
    <div id="button-wrap-inner" style="text-align: center;">
          <%= link_to t("devise_views.mailer.confirmation_instructions.confirm_link"), confirmation_url(@resource, confirmation_token: @token), class: "btn" %>
      </div>
  </p>

</td>
