// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
$gana_azul: #223262;
$gana_rojo: #BD152A;
$gana_celeste: #2090BF;
$gana_amarillo: #E6C142;
$gana_blanco: #FFFFFF;

$gana_azul_light: lighten($gana_azul, 20%);
$gana_rojo_light: lighten($gana_rojo, 20%);
$gana_celeste_light: lighten($gana_celeste, 20%);
$gana_amarillo_light: lighten($gana_amarillo, 20%);

$gana_azul_lightest: lighten($gana_azul, 70%);

$gana_azul_dark: darken($gana_azul, 10%);
$gana_rojo_dark: darken($gana_rojo, 10%);
$gana_celeste_dark: darken($gana_celeste, 10%);
$gana_amarillo_dark: darken($gana_amarillo, 10%);
