// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
header, .top-bar {
	background: $gana_azul !important;
  @include breakpoint(medium) {
    background: $gana_blanco !important;
  }
}
.top-bar-title {
	heigth: 76px;
  padding-top: 20px;
}
.jumbo {
  &.highlight {
    background: image-url('narino_03.jpg');
  }
}

.subfooter {
	border-top: 1px solid $gana_azul;
}
.footer {
	border-top: 6px solid $gana_azul;
  margin-top: 0px;
  padding-top: 0px;
}
footer a, footer a:active, footer a:focus {
    color: $gana_azul;
    text-decoration: none;
}
footer a:hover {
    color: $gana_azul_light;
    text-decoration: none;
}
.footer, .push {
  min-height:10rem;
}

.button {
  background: $gana_azul;
}

.subnavigation {
  @include breakpoint(medium) {
    background: $gana_rojo;
    padding-bottom: 0;
    &:hover {
      color: $gana_blanco;
      text-decoration: none;
    }
  }
  a {
    color: $gana_blanco;
    border-bottom: 2px solid $gana_rojo;
    &:hover {
      color: $gana_blanco;
      border-bottom: 2px solid $gana_blanco;    
    }
    &.active {
      color: #fff;
        @include breakpoint(medium) {
        border-bottom: 2px solid $gana_blanco;
        color: $gana_blanco;
      }
    }
  }
}

.submenu {
    .active {
    border-bottom: 2px solid $gana_rojo;
    color: $gana_rojo;
    a {
      &:hover {
        color: $gana_rojo;
        text-decoration: none;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

}


.top-bar {
  .menu > li {    
    a {
      color: $gana_blanco;
      @include breakpoint(medium) {
        color: #333;
      }
    }
    .button {
      @include breakpoint(medium) {
        background: $gana_rojo;
        color: $gana_blanco;
      }
    }
  }
}

.debate {
  .panel {
    h3 {
      a {
        color: $gana_azul;
      }
    }
  }
}

.auth-image {
  h1 {
    margin-top: $line-height;
    img {
      height: rem-calc(76);
      width: rem-calc(318);
    }
    a {
      line-height: rem-calc(76); // Same as logo image height
    }
  }  
}

.sidebar-title {
  color: $gana_azul;
}


//NEW STYLES ************
.white-shadow-text {
  color: $gana_blanco;
  text-shadow: 1px 1px 1px $gana_azul_dark;
}

.button.jumbo-section {
  background: $gana_celeste;

  &:hover {
    text-decoration: none !important;
    background: $gana_celeste_light;
    text-shadow: 1px 1px 1px $gana_azul;
  }

  &.warning,
  &.warning:hover {
    color: #000;
  }
}

.highlight {
    background: $gana_azul_lightest;
}


.figure-card {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: relative;
}

.figure-card figcaption {
    bottom: 0;
    color: #fff;    
    font-size: 2.25rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    padding: 0.375rem 0.75rem;
    position: absolute;
    width: 100%;
    text-align: left;
}

.figure-card figcaption a {
    color: #fff;
    text-decoration: none;
}

.figure-card figcaption a:hover {
    color: #fff;
    text-decoration: underline;
}

.figure-card figcaption a {
  color: $gana_blanco;

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:focus {
    color: $gana_amarillo;
    outline: none;
    text-decoration: none;
  }
}

.figure-card figcaption span {
    background: #fff;
    border-radius: 0.25rem;
    color: #000;
    display: inline;
    font-size: 1.0625rem;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    box-shadow: 1px 1px 4px #000;
}
.figure-card figcaption h3, .figure-card figcaption .title {    
    font-size: 2rem;
    line-height: 3rem;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 0px;
}

a.logo.show-for-small-only{
  color: $gana_blanco;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}