<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<div class="jumbo highlight">
  <div class="row margin padding">
    <div class="small-12 medium-9 small-centered column text-center">
      <h1 class="white-shadow-text"><%= t("layouts.header.open_city_title") %></h1>
      <p class="lead white-shadow-text">
        <%= t("layouts.header.open_city_slogan_html") %>
      </p>
      <div class="small-12 medium-6 large-4 small-centered">
        <%= link_to t("layouts.header.more_info"), more_info_path, class: "button expanded large jumbo-section" %>
      </div>
    </div>
  </div>
</div>

<% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
  <%= render "recommended",
              recommended_debates: @recommended_debates,
              recommended_proposals: @recommended_proposals %>
  <hr>
<% end %>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <div class="small-12 column">
      <div class="row">
        <div class="small-12 medium-12 column">
          <h2>Destacados</h2>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-6 column">
          <!--h2><%= t("welcome.debates.title") %></h2>
          <p><%= t("welcome.debates.description") %></p-->
          <figure class="figure-card">
            <a title="Politica Publica" href="debates?order=created_at&page=1&search=política+pública+de+gobierno+abierto"><%= image_tag "welcome/popuga.jpg" %></a>
            <figcaption>              
                <span>Debate</span>
                <br><a title="Politica Publica" href="debates?order=created_at&page=1&search=política+pública+de+gobierno+abierto"><p class="title">Política Pública Gobierno Abierto</p>
              </a>
            </figcaption>
          </figure>
          <p>Construyamos juntos la política pública de Gobierno Abierto del departamento de Nariño! <br><a href="debates?order=created_at&page=1&search=política+pública+de+gobierno+abierto">&raquo; Empezar a debatir</a></p>          
        </div>
        <div class="small-12 medium-6 column">
          <!--h2><%= t("welcome.debates.title") %></h2>
          <p><%= t("welcome.debates.description") %></p-->
          <figure class="figure-card">
            <a title="Cyberbulling" href="debates/66-ciberacoso"><%= image_tag "welcome/ciberbullyng1.jpg" %></a>
            <figcaption>              
                <span>Debate</span>
                <br><a title="Cyberbulling" href="debates/66-ciberacoso"><p class="title">El ciberacoso</p>
              </a>
            </figcaption>
          </figure>
          <p> Cada vez se registran más casos de ciberacoso ¿Qué podemos hacer para frenar esta tendencia?<br><a href="debates/66-ciberacoso">&raquo; Empezar a debatir</a></p>          
        </div> 
      </div>
      <div class="row padding">               
        <div class="small-12 medium-6 column">
          <!--h2><%= t("welcome.debates.title") %></h2>
          <p><%= t("welcome.debates.description") %></p-->
          <figure class="figure-card">
            <a title="Prohibición de Carioca" href="debates/65-regulan-la-carioca-en-carnaval"><%= image_tag "welcome/carioca1.jpg" %></a>
            <figcaption>
              <a title="Prohibición de Carioca" href="debates/65-regulan-la-carioca-en-carnaval">
                <span>Debate</span>
                <br><p class="title">Regulan la carioca en carnaval</p>
              </a>
            </figcaption>
          </figure>
          <p>Cuéntanos qué opinas sobre la medida que regula la venta de "productos industriales que no hacen parte del juego tradicional de carnaval".<br><a href="debates/65-regulan-la-carioca-en-carnaval">&raquo; Empezar a debatir</a></p>
        </div>
        <div class="small-12 medium-6 column">
          <!--h2><%= t("welcome.debates.title") %></h2>
          <p><%= t("welcome.debates.description") %></p-->
          <figure class="figure-card">
            <a title="El uso de pólvora en fin de año" href="debates/63-el-uso-de-polvora-en-fin-de-ano"><%= image_tag "welcome/polvora1.jpg" %></a>
            <figcaption>
              <a title="El uso de pólvora en fin de año" href="debates/63-el-uso-de-polvora-en-fin-de-ano">
                <span>Debate</span>
                <br><p class="title">El uso de pólvora en fin de año</p>
              </a>
            </figcaption>
          </figure>
          <p>En 2016 Nariño registró 81 lesionados con pólvora. Participa en el debate sobre cómo disminuir esta fatal estadística.<br><a href="debates/63-el-uso-de-polvora-en-fin-de-ano">&raquo; Empezar a debatir</a></p>
        </div>
      </div>
    </div>
  </main>
<% end %>
