<div class="sidebar-card">
  <h3><%= t("pages.more_info.faq.title") %></h3>
  <p><%= t("pages.more_info.faq.description") %></p>
  <!-- <%= link_to t("pages.more_info.faq.button"), faq_path, class: "button expanded" %>-->
  <a class="button expanded" href="mailto:gana@narino.gov.co">Contacta a GANAPienso</a>
</div>
